
.Black {color: #17252A} 
.DarkCyan {color: #2B7A78}
.BrightCyan {color: #3AAFA9}
.Grey {color: #DEF2F1}
.White {color: #FEFFFF}

html {
    font-family: 'Raleway', "rockwell", "arial";
}

body {
    margin:0;
}

.hr1 {
    border: none;
    height: 1px;
    width: 80%;
    background-color: #17252A;
}

.hr2 {
    border: none;
    height: 1px;
    width: 80%;
    background-color: white;
}



.topnav {
    background-color: white;
    overflow: hidden;
    height: 10vh
}
/* Style the links */
.topnav a {
    color: #000000;
    text-align: center;
    text-decoration: none;
}
.topnav a.name {
    float: left;
    font-size: 35px;
    padding: 45px;
    padding-left: 120px;
}
.topnav a.pages {
    float: right;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 120px;
    padding-left: 0px;
}
/* Change the color of links on hover */
.topnav a.pages:hover {
    color: black;
    transform-origin: bottom left;
    transform: scale(1.1);
}


.missionHead {
    background-color: white;
    height: 10vh;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.missionBody {
    background-color: white;
    height: 50vh;
    width: 100%;
    text-align: center;
    font-size: 22px;
}



.getInfo {
    background-color: black;
    height: 80vh;
    color: white;
    padding-top: 1px;
    text-align: center;
}

.take {
    background-color: black;
    height: 40vh;
    width: 40%;
    margin: auto;
    text-align: left;
    padding-top: 2%;
}

.input1 {
    width: 99%;
    border-radius: 7px;
    padding: 6px 10px;
}



.cal {
    background-color: rgb(244, 67, 54);
    overflow: hidden;
    padding-bottom: 20px;
    color: white;
    height: 70vh;
}

.S1cal {
    padding-top: 1px;
    text-align: center;
}

.S2cal {
    float: left;
    width: 38%;
    text-align: left;
    padding-left: 12%;

}

.S3cal {
    float: right;
    width: 38%;
    text-align: left;
    padding-right: 12%;
}

.coff {
    background-color: rgb(255, 152, 0);
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    color:black;
    height: 70vh;
}

.S1coff {
    text-align: center;
}

.S2coff {
    text-align: center;
    padding-top: 25px;
}

.butcoff {
    float: left;
    width: 33%;
    text-align: center;
}