

html {
    font-family: 'Raleway', "rockwell", "arial";
    scroll-behavior: smooth;
}
body {
    margin:0;
}
.hr1 {
    border: none;
    height: 1px;
    width: 80%;
    background-color: #17252A;
}
.hr2 {
    border: none;
    height: 1px;
    width: 80%;
    background-color: white;
}
.button1 {
    display: inline-block;
    border-radius: 20px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 10px 18px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
}
.button1:hover span {
    padding-right: 15px;
}
.button1:hover span:after {
    opacity: 1;
    right: 0;
}



.topnav {
    background-color: white;
    overflow: hidden;
    height: 10vh
}
/* Style the links */
.topnav a {
    color: #000000;
    text-align: center;
    text-decoration: none;
}
.topnav a.name {
    float: left;
    font-size: 35px;
    padding: 45px;
    padding-left: 120px;
}
.topnav a.pages {
    float: right;
    font-size: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 120px;
    padding-left: 0px;
}
/* Change the color of links on hover */
.topnav a.pages:hover {
    color: black;
    transform-origin: bottom left;
    transform: scale(1.1);
}


.missionHead {
    background-color: white;
    height: 10vh;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.missionBody {
    background-color: white;
    height: 50vh;
    width: 100%;
    text-align: center;
    font-size: 22px;
}



.getInfo {
    background-color: black;
    height: 80vh;
    color: white;
    padding-top: 1px;
    text-align: center;
}
.take {
    background-color: black;
    height: 40vh;
    width: 30%;
    margin: auto;
    text-align: left;
    padding-top: 1%;
}
.input1 {
    width: 94%;
    border-radius: 7px;
    padding: 6px 10px;
}
.take2 {
    text-align: center;
    padding-top: 5%;
}



.cal {
    background-color: rgb(244, 67, 54);
    overflow: hidden;
    padding-bottom: 20px;
    color: white;
    height: 70vh;
}
.S1cal {
    padding-top: 1px;
    text-align: center;
}
.S2cal {
    float: left;
    width: 38%;
    text-align: left;
    padding-left: 12%;

}
.S3cal {
    float: right;
    width: 38%;
    text-align: left;
    padding-right: 12%;
}

.coff {
    background-color: rgb(255, 152, 0);
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    color:black;
    height: 70vh;
}
.S1coff {
    text-align: center;
}
.S2coff {
    text-align: center;
    padding-top: 25px;
}
.butcoff {
    float: left;
    width: 33%;
    text-align: center;
}


.retire {
    background-color: rgb(255, 235, 59);
    overflow: hidden;
    color: black;
    height:85vh;
}
.S1retire {
    text-align: center;
}
.S2retire {
    text-align: center;
    padding-top: 3vh;
    font-size: 20px;
}

.timeImp {
    background-color: rgb(76, 175, 80);
    overflow: hidden;
    color: black;
    height: 80vh;
    text-align: center;
}
.S1timeImp {
    text-align: left;
    width: 60%;
    margin: auto;
}

